{% extends "site/base.html" %}
{% block content %}
{% for post in posts %}
<article class="media content-section">
    <div class="media-body">
        <div class="article-metadata">
            <div class="article-author">
                <a class="mr-2" href="#" style="color: darkorchid;">{{ post.author }}</a>
            </div>
            <div class="article-date_posted">
                <small>'{{ post.date_posted }}</small>
            </div>
        </div>
        <h2><a class="article-title" href="#">{{ post.title }}</a></h2>
        <img src="{{ post.image.url }}"  alt=""/>
        <p class="article-content">{{ post.content }}</p>
    </div>
</article>
{% endfor %}
{% endblock content %}